* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.d-flex {
  display: flex;
}

.d-inlblock {
  display: inline-block;
}

.container-primary {
  max-width: 1440px;
  background-color: #fcc302;
  margin: 0 auto;
}

.container-secondary {
  max-width: 1440px;
  background-color: #fff;
  margin: 0 auto;
}

.content-wrapper {
  max-width: 1160px;
  margin: 0 auto;
}

.nav-container {
  background-color: #daac00;
  max-width: 1440px;
  margin: 0 auto;
}

.navigation-wrapper {
  display: flex;
  justify-content: space-between;
  background-color: #daac00;
  max-width: 1160px;
  margin: 0 auto;
}

.brand-logo {
  margin: 30px 0;
}

.nav-menu {
  display: flex;
  align-items: center;
  margin: 40px 0;
}

.nav-menu ul {
  display: flex;
}

.nav-menu__list {
  gap: 0 40px;
}

.nav-menu__link {
  font-size: 28px;
  padding: 4px 6px;
  color: #fff;
  cursor: pointer;
}

.nav-menu__link:hover {
  color: #313243;
  text-shadow: 1px 2px 5px;
  transition: all 0.5s ease-out;
}

.nav-input {
  margin: 30px 0;
  align-items: center;
}

.nav-input form {
  display: flex;
  border: none;
  box-shadow: 7px 7px 15px rgba(100,100,100, 0.5);
}

.nav-input input {
  background-color: #fcc302;
  color: #fff;
  border: none;
}

input.nav-search-input::placeholder {
  color: white;
  padding-left: 20px;
  font-size: 20px;
  opacity: 1;
}

.nav-search-input {
  background-color: aqua;
}

.nav-input-btn {
  background-color: #00bec9;
  width: 70px;
  height: 50px;
  border: none;
  cursor: pointer;
}

.primary-section {
  background-color: #fcc302;
  max-width: 1160px;
  margin: 0 auto;
}

.alternative-section {
  background-color: #fff;
  max-width: 1160px;
  margin: 0 auto;
}

.section-1 {
  margin-top: 200px;
  margin-bottom: 200px;
  color: #fff;
  max-width: 670px;
}

.section-1 h2 {
  font-size: 68px;
}

.section-1 p {
  font-size: 28px;
}

.btn {
  font-size: 20px; 
  color: #fff;
  font-family: Poppins;
  display: inline-block;
  border: 2px solid #fff;
  border-radius: 4px;
  padding: 15px 20px;
  background-color: #fcc302;
  margin-right: 20px;
  margin-top: 50px;
}

.btn:hover {
  background-color: #00bec9;
  border: 2px solid #00bec9;
  transition: all 0.7s ease;
}

.section-1-alt {
  margin-top: 90px;
  margin-left: 80px;
}

.alternative-section {
  margin-top: 215px;
  margin-bottom: 215px;
}

.alternative-section h2 {
  font-size: 50px;
  max-width: 560px;
}

.alternative-section p {
  max-width: 560px;
  font-size: 28px;
}


/*Footer section*/

.footer-content {
  background-color: #343434;
  color: #fff;
}

.footer-content__inner {
  max-width: 1160px;
  padding: 140px 0;
  margin: 0 auto;
  justify-content: space-between;
}

.footer-content__title {
  font-size: 36px;
  font-weight: 600;
}

.footer-content__text {
  font-size: 24px;
}

.footer-content__inner .footer-content__box:last-child {
  text-align: right;
}

.footer-content__link {
  color: #fff;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.8;
}

.footer-form {
  width: 530px;
  height: 90px;
  display: flex;
  margin: 50px 0;
}

.footer-form__input {
  width: 386px;
  height: 90px;
  background-color: #daac00;
  border: none;
}

.footer-form__button {
  width: 145px;
  height: 90px;
  background-color: #00bec9;
  border: none;
}

.social-link__list {
  display: flex;
  justify-content: flex-end;
  color:beige;
  gap:15px;
}

.social-link__element a{
  text-align: right;
}